@import url("https://fonts.cdnfonts.com/css/miama");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

/* shared style  */

/* header and hero section style  */
header {
  background-color: transparent;
}
.header-hero-section-container {
  width: 100%;
  height: 44.6875rem;
  background: linear-gradient(180deg, #111 70%, rgba(119, 119, 119, 0) 100%);
  margin: 0 auto;
}
header > nav > svg {
  display: none;
}
.hero-container {
  max-width: 90rem;
}
/* navbar section style starts */
.nav-container {
  display: flex;
  width: 66.25rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3.56rem 0rem 2rem 0rem;
  background-color: rgba(136, 255, 0, 0);
}

.header-logo h1 {
  font-size: 2rem;
  background-color: transparent;
  font-weight: 900;
}
.header-logo a {
  text-decoration: none;
  font-style: italic;
  font-weight: 900;
  color: #e7533c;
  background-color: transparent;
}

.menu-items-container {
  border: 2px solid #313131;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.menu-items-container a {
  text-decoration: none;
  background-color: transparent;
}
.menu-items {
  list-style: none;
  padding: 0.5rem 1.5rem;
  /* margin: 0rem 0rem 0rem 1rem; */
  margin-right: 1rem; /*facing problem here*/
  background-color: transparent;
}
.menu-items a {
  background-color: transparent;
}

#home-btn {
  background-color: #e6533c;
  border-radius: 20px;
}
/* navbar section style ends */

/* hero section style starts */
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  margin: 0 auto;
  background-color: transparent;
}

.hero-left-container {
  /* border: 2px solid whitesmoke; */
  background-color: transparent;
}
.hero-right-container {
  /* border: 2px solid whitesmoke; */
  display: flex;
  background-color: transparent;
  position: relative;
}
.hero-right-container > .hero-cardbox {
  position: absolute;
  padding: 0.7rem 1.5rem;
  height: fit-content;
  width: fit-content;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /* line-height: 2rem; */
}
.hero-right-container > .hero-cardbox > h1 {
  background-color: transparent;
}
.hero-right-container > .hero-cardbox > p {
  color: #8a8a8a;
  background-color: transparent;
}

#cardbox-1 {
  bottom: 21rem;
  right: -5.5rem;
  text-wrap: nowrap;
}

#cardbox-2 {
  bottom: 4rem;
  right: 15rem;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.hero-title {
  margin-top: 3rem;
  background-color: transparent;
}
.hero-title {
  color: #fff;
  font-family: Inter;
  font-size: 4.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  background-color: transparent;
}
.hero-title span {
  color: #fff;
  font-family: Miama;
  font-size: 10rem;
  font-style: normal;
  font-weight: 400;
  line-height: 50%;
  background-color: transparent;
}
.hero-description {
  margin-top: 2rem;
  color: #8a8a8a;
  background-color: transparent;
  line-height: 1.5rem;
  letter-spacing: 0.03125rem;
}

.hero-btn {
  margin-top: 1.6rem;
  display: flex;
  gap: 0.5rem;
}

#hero-btn-1 {
  background-color: #e6533c;
  border: none;
  border-radius: 50px;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
}
#hero-btn-1 span {
  background-color: transparent;
}

#hero-btn-1 a {
  text-decoration: none;
  background-color: transparent;
}

#hero-btn-2 {
  background-color: #0f0f0f;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}
#hero-btn-2 a {
  text-decoration: none;
  background-color: transparent;
}

/* hero section style ends */

/* habit section style starts */
.habit-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  gap: 3rem;
}
.habit-section-title-des {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 auto;
  margin-top: 0rem;
  gap: 3rem; */
}
.habit-section-title {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  line-height: 120%;
}

.habit-section-description {
  text-align: center;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  letter-spacing: 0.01875rem;
}
.habit-types-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
  gap: 5rem;
  /* border: 2px solid whitesmoke; */
}
.habit-type-content {
  display: flex;
  flex-direction: column;
  max-width: 14.4375rem;
  align-items: center;
}
.habit-type-content h3 {
  margin-top: 1rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
}
.habit-type-content p {
  text-align: center;
  color: #8a8a8a;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.01875rem;
}
.habit-type-content img {
  border: 5px solid #191919;
  border-radius: 100%;
}
/* habit section style ends */
/* featured box section style starts here */
.featured-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #222222;
  border-radius: 20px 20px 20px 20px;
  max-width: 1050px;
  max-height: fit-content;
  margin-top: 3.5rem;
}
.featured-box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #222222;
  gap: 2rem;
  padding: 2.5rem;
  border-radius: 25px 25px 25px 25px;
}
.featured-content-title {
  background-color: #222222;
  font-size: 3rem;
}
.featured-content-desctription {
  background-color: #222222;
  color: #878787;
}
.featured-box-image {
  background-color: #222222;
  /* border: 2px solid springgreen; */
  /* height: 16rem;
  width: 20rem; */
  width: 22.875rem;
  height: 19.5rem;
  border-radius: 20px;
  margin-right: 2rem;
  background-image: url(./images/run.jpg);
  background-repeat: no-repeat;
  background-position: -800px -200px;
  background-size: auto;
}

/* featured box section style ends here */

/* bmi calculator section style starts here */
.bmi-calculator-section {
  display: flex;
  flex-direction: column;
}
.bmi-title-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 3.5rem;
}
.bmi-title-description h1 {
  font-size: 2rem;
  background-color: transparent;
}
.bmi-title-description p {
  color: #878787;
  background-color: transparent;
  margin-bottom: 3rem;
}

.bmi-calculator-container {
  height: 30rem;
  width: 100%;
  /* margin-top: 3.2rem; */
  /* padding: 0rem; */
  background-color: #191919;
}
.calculator-parent {
  height: 30rem;
  width: 66.38rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  gap: 10.94rem;
  margin-top: 3rem;
}

.bmi-calculator-container-left {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}
.bmi-calculator-container-left h2 {
  background-color: transparent;
  font-size: 1.75rem;
  margin-bottom: 3.25rem;
}

.bmi-calculator-container-left table,
th,
td {
  padding: 10px 1.25rem;
  border: 2px solid #383838;
  border-collapse: collapse;
  text-wrap: nowrap;
  background-color: #191919;
}

.bmi-calculator-container-left table {
  width: 20rem;
  border: 2px solid #383838;
  border-radius: 2px;
  /* background-color: #222222; */
}
#table-head {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
}
#table-data {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 200;
  line-height: 120%;
  text-align: left;
}

.bmi-calculator-container-right {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 36rem;

  /* padding-right: 11.81rem; */
}
.bmi-calculator-container-right h2 {
  background-color: transparent;
  font-size: 1.75rem;
}
.bmi-calculator-container-right p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.01875rem;
  margin-bottom: 1.3rem;
}
.bmi-calculator-input-field-content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: transparent;
}
.bmi-calculator-input-field-content p {
  color: #878787;
}
.bmi-calculator-input-field-content h2,
p,
div,
input {
  background-color: transparent;
}
.bmi-calculator-input-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
}
.bmi-calculator-input-field input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  color: #757575;
  background-color: #383837;
  text-decoration: none;
}
.bmi-calculator-input-field select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  color: #757575;
  background-color: #383837;
  text-decoration: none;
}

.bmi-calculator-container-right select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  color: #757575;
  background-color: #383837;
  text-decoration: none;
}

.bmi-calculator-container-right button {
  background-color: #e6533c;
  border: none;
  border-radius: 50px;
  padding: 0.6rem 3rem;
  font-size: 1rem;
  /* margin-top: 0.2rem; */
  max-width: 12rem;
  height: 2.7rem;
  margin-top: 1.3rem;
}
.bmi-calculator-container-right button a {
  text-decoration: none;
  background-color: transparent;
}

/* bmi calculator section style ends here  */

/* team section style starts here */
.team-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5.5rem;
}
.team-section-title {
  font-size: 2.2rem;
}
.team-section-description {
  text-align: center;
  color: #8a8a8a;
  margin-top: 1.5rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.team-member-box-container {
  min-width: 1080px;
  min-height: fit-content;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: #191919;
  border-radius: 10px;
  padding: 1rem;
}

.team-member-box-container .team-member {
  width: 22rem;
  height: 18rem;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.team-member-box-container .member-name {
  position: relative;
  top: 14.5rem;
  left: 10px;
  background-color: transparent;
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.team-member-box-container .member-title {
  position: relative;
  top: 14.5rem;
  left: 10px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

/* team section style ends here  */

/* footer section style starts here */
footer {
  background-color: #191919;
}
.footer-main-section-container {
  background-color: #191919;
  width: 100%;
  height: 20rem;
  margin: 0 auto;
}
.footer-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10rem;
  margin: 0 auto;
  justify-content: center;
  gap: 12rem;
  width: 90rem;
}
.footer-left-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4.12rem;
}
.footer-logo {
  font-size: 5rem;
  font-style: italic;
  background-color: #191919;
}
.footer-logo a {
  text-decoration: none;
  background-color: #191919;
  color: #e7533c;
}
.footer-description {
  background-color: #191919;
  color: #878787;

  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.01875rem;
}
.footer-right-container {
  display: flex;
  gap: 9.5rem;
  margin-top: 4.12rem;
  background-color: #191919;
}
.footer-right-container h2 {
  background-color: #191919;
  color: #ffffff;
}
.footer-menu-1,
.footer-menu-2 {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  background-color: #191919;
}
.footer-menu-items {
  list-style: none;
  background-color: #191919;
  color: #878787;
}
.footer-menu-items a {
  background-color: #191919;
  color: #878787;
  text-decoration: none;
}
footer hr {
  margin: 0 auto;
  width: 87%;
  background-color: #191919;
  border: 1px solid #333434;
}
.copywright-text {
  background-color: #191919;
  color: #878787;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}
.copywright-text a {
  background-color: #191919;
  color: #878787;
  text-decoration: none;
}
/* footer section style ends here  */

/* mobile responsive media query starts here */

@media screen and (max-width: 576px) {
  .nav-container {
    display: flex;
    width: 22.0625rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  header > nav > svg {
    display: inline;
    cursor: pointer;
  }
  .menu-items-container {
    display: none;
  }
  .hero-container {
    display: flex;
    width: 22rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75rem;
  }
  .hero-title {
    margin-top: 3rem;
    background-color: transparent;
  }
  .hero-title {
    color: #fff;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    background-color: transparent;
  }
  .hero-title span {
    color: #fff;
    font-family: Miama;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 50%;
    background-color: transparent;
  }
  .hero-description {
    width: 17.125rem;
    margin-top: 2rem;
    color: #8a8a8a;
    background-color: transparent;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
  }

  .hero-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 0.875rem;
  }

  #hero-btn-1 {
    padding: 1rem 2.5rem;
    border-radius: 2.625rem;
    background: #e6533c;
  }
  #hero-btn-1 span {
    display: none;
  }
  #hero-btn-1 a {
    text-decoration: none;
    background-color: transparent;
    font-size: 1.125rem;
    text-wrap: nowrap;
  }

  #hero-btn-2 {
    background-color: #0f0f0f;
    border: 1px solid #ffffff;
    border-radius: 2.625rem;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    cursor: pointer;
    text-wrap: nowrap;
  }
  #hero-btn-2 a {
    text-decoration: none;
    background-color: transparent;
  }

  .hero-right-container {
    display: inline-block;
  }
  .habit-section-container {
    display: inline-block;
  }
  .habit-section-title-des h1 {
    text-align: center;
  }
  .habit-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .habit-types-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  .featured-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    max-width: 22.0625rem;
    max-height: fit-content;
    margin-top: 3.5rem;

    /* padding: 0.5rem; */
  }
  .featured-box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    gap: 1.5rem;
  }
  .featured-box-content button {
    align-self: stretch;
  }

  .featured-content-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
  }
  .featured-content-desctription {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01875rem;
  }
  .featured-content-desctription br {
    display: none;
  }
  .featured-box-image {
    width: 17.9375rem;
    height: 10.625rem;
    border-radius: 1.125rem;
    background-image: url(./images/run.jpg);
    background-repeat: no-repeat;
    background-position: -800px -200px;
    background-size: auto;
    margin-bottom: 2.19rem;
    margin-left: 2rem;
  }
  .bmi-title-description {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;
  }
  .calculator-parent {
    display: inline-flex;
    flex-direction: column;
  }
  .team-section {
    display: inline-flex;
  }
  .team-member-box-container {
    display: flex;
    flex-direction: column;
  }
}
